{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-xs-4">
                <button type="button" class="btn btn-outline-dark btn-lg js-contact-form-open-btn">
                    {{ 'component.form.contact_form.write_us'|trans }}
                </button>
            </div>
        </div>
    </div>
    {% include 'component/contact/contact_modal.html.twig' with {'form' : contact_form} %}
    </div>
{% endblock %}
