body {
    font-family: Arial, Helvetica, sans-serif;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.custom-modal-body {
    padding: 2px 16px;
}

.custom-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.custom-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-cross {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-cross:hover,
.close-cross:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}