{{ form_start(form, {
    'attr': {
        'class': 'js-contact-form'
    }
}) }}
<div class="form-group">
    {{ form_label(form.email, 'component.form.contact_form.your_email') }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_help(form.email) }}
</div>

<div class="form-group">
    {{ form_label(form.subject, 'component.form.contact_form.subject') }}
    {{ form_widget(form.subject) }}
    {{ form_errors(form.subject) }}
    {{ form_help(form.subject) }}
</div>

<div class="form-group">
    {{ form_label(form.message, 'component.form.contact_form.message_content') }}
    {{ form_widget(form.message) }}
    {{ form_errors(form.message) }}
    {{ form_help(form.subject) }}
</div>

{{ form_end(form) }}
