{% block body %}
    <div id="contact-form-modal-container" class="custom-modal">
        <div class="custom-modal-content">
            <div class="custom-modal-header">
                <span class="close-cross js-contact-form-close-btn">&times;</span>
                <h2>{{ 'component.form.contact_form.write_us'|trans }}</h2>
            </div>
            <div class="custom-modal-body">
                {% include 'component/contact/_contact_form.html.twig' with {'form' : form} %}
            </div>
            <div class="custom-modal-footer">
                <button type="button" class="btn btn-success js-contact-form-send-btn">
                    {{ 'component.form.contact_form.send_message'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Util/Validator.js') }}"></script>
    <script src="{{ asset('js/Util/RequestSender.js') }}"></script>
    <script src="{{ asset('js/component/contact_modal.js') }}"></script>
    <script>
        contactFormApp.initialize();
    </script>
{% endblock %}