{{ 'component.form.contact_form.email'|trans }} {{ request_data.getEmail }}
{{ 'component.form.contact_form.subject' }} {{ request_data.getSubject }}
{{ 'component.form.contact_form.message_content' }} {{ request_data.getMessage }}